<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>new bug</title>
</head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/frontend/assets/css/app.css">
<body>
	<!-- 内容 -->
	<div class="container" id="app">
  		<div class="main-content" v-cloak>
  			<!-- 用户日常使用书签 -->
  			<div class="m-header">
  				<div class="search-container">
  					<div class="search-input"><input v-model="searchWorld" placeholder="搜你想搜的" v-on:keyup.enter="openSearchPage"></div>
  					<div class="search-button" v-on:click="openSearchPage"><span>百度一下</span></div>
  				</div>
  				<div class="commonly-content">
  					<div class="commonly-content-right">
  						<div class="site-name"><h3>新虫书签</h3></div>
  						<div class="site-domain"><h5>newbug.vip</h5></div>
  					</div>
  					<div class="commonly-bookmark">
	  					<div v-for="normalBookmark in normalBookmarkList" class="normal-bookmark-item">
	  						<img v-bind:src="normalBookmark.icon"/><span>{{normalBookmark.title}}</span>
	  					</div>
	  				</div>
	  				<div class="header-tip commonly-content-left">
	  					<div class="tip-div"><small>新虫书签，你的书签网址管理主页，您可以添加自己的书签，方便日常生活工作</small></div>
	  				</div>
  				</div>
  			</div>

  			<div class="m-body">
  				<!-- 网友分享的书签 -->
  				<div class="body-left">
  					
  					left {{title}}

  				</div>

  				<!-- 用户自建的书签内容 -->
  				<div class="body-right">
  					
  					right

  					<!-- 新建悬浮框 -->
  					<div class="create-container" v-on:click="ShowHiddenCreateForm">
	  					<img src="/frontend/assets/images/create-button.png" v-if="!showCreateForm">
	  					<img src="/frontend/assets/images/close-button.png" v-else>
	  				</div>

	  				<!-- 新建书签表单 -->
	  				<div class="create-form-container" v-if="showCreateForm">
	  					<div class="create-form-item">
	  						<span>书签名</span>
	  						<input type="text" class="form-control" name="" placeholder="必填">
	  					</div>
	  					<div class="create-form-item">
	  						<span>书签地址</span>
	  						<textarea class="form-control" placeholder="必填" rows="2" cols="20"></textarea>
	  					</div>
	  					<div class="create-form-item">
	  						<span>书签备注</span>
	  						<textarea class="form-control" rows="2" cols="20" placeholder="选填"></textarea>
	  					</div>
	  					<div class="save-bookmark">
	  						<span>保存</span>
	  					</div>
	  				</div>
  				</div>

  			</div>

  		</div>
	</div>

	<script src="https://cdn.bootcss.com/vue/2.6.8/vue.min.js"></script>
	<script src="/frontend/assets/js/app.js"></script>
</body>
</html>